@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-baseline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@mixin ellipsis-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin loader-spinner($loader-delay) {
  animation: loader-spinner .8s ease-in $loader-delay infinite both;
}

@mixin menu-animation($delay) {
    animation: menu-appears .5s ease-out $delay both;
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    max-width: 1230px;
    margin: auto;
  }
}
