@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-baseline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@mixin ellipsis-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    max-width: 1100px;
    margin: auto;
  }
}
