/***** COLORS *****/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tiertiary: #99E2D0;
$color-background: #f6f6f6;
$color-text: #fff;
$color-chip: #008766;
$color-chip-background: #99e2d0;


/***** PADDING / MARGIN *****/
$padding-glogal: 2.5rem 1.5rem;
$margin-title: 0;

/***** BREAKPOINTS *****/
$breakpoints: (
  tablet-sm: 768px,
  tablet-lg: 980px,
  desktop: 1024px
  );
